
    <div class="container pt-4">
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		<a class="navbar-brand" href="#">Central Message Portal</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="#">Messages <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="#">APIs</a>
			<a class="nav-item nav-link" href="#">Events</a>
		</div>
		</div>
	</div>
  </nav>

	  <div class="row">
		<div class="col-lg-12">





			<form class="mx-4 pt-2 pb-2">

				<div class="mb-4 mt-4 row">
					<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
					<div class="col-xs-3 col-sm-auto">
						<input
							id="table-complete-search"
							type="text"
							class="form-control"
							name="searchTerm"
							[(ngModel)]="service.searchTerm"
						/>
					</div>
					<div class="col-xs-3 col-sm-auto">
						<select class="form-select" aria-label="Default select example">
							<option selected>All Domains</option>
							<option *ngFor="let domain of getUnqiqueMessageDomains() | async" [value]="domain">{{ domain }}</option>
						  </select>
					</div>

					<div class="col-xs-3 col-sm-auto">
						<select class="form-select" aria-label="Default select example">
							<option selected>All Owners</option>
							<option *ngFor="let owner of getUnqiqueMessageOwners() | async" [value]="owner">{{ owner }}</option>
						  </select>
					</div>
					<div class="col-xs-3 col-sm-auto">
						<select class="form-select" aria-label="Default select example">
							<option selected>All Applications</option>
							<option *ngFor="let application of getUnqiqueMessageApplications() | async" [value]="application">{{ application }}</option>
						  </select>
					</div>

					<span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>

				</div>
			
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Message ID</th>
							<th scope="col" sortable="domain" (sort)="onSort($event)">Message Domain</th>
							<th scope="col" sortable="domainOwner" (sort)="onSort($event)">Domain Owner</th>
							<th scope="col" sortable="applicaton" (sort)="onSort($event)">Application</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let message of messages$ | async" (click)="onRowClicked(message)">
							<th scope="row">{{ message.id }}</th>
							<td>
								<ngb-highlight [result]="message.domain" [term]="service.searchTerm"></ngb-highlight>
							</td>
							<td><ngb-highlight [result]="message.domainOwner" [term]="service.searchTerm"></ngb-highlight></td>
							<td><ngb-highlight [result]="message.application" [term]="service.searchTerm"></ngb-highlight></td>
						</tr>
					</tbody>
				</table>
			
				<div class="d-flex justify-content-between p-2">
					<ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
					</ngb-pagination>
			
					<select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
						<option [ngValue]="5">5 items per page</option>
						<option [ngValue]="10">10 items per page</option>
						<option [ngValue]="20">20 items per page</option>
					</select>
				</div>
			</form>
		</div>
		<div class="row">
		<div *ngIf="selectedMessage" class="col-lg-12">

			<div class="card mx-4">
				<div class="card-header">
					{{ selectedMessage.id }}
				</div>
				<div class="card-body">
				  <h5 class="card-title">{{ selectedMessage.owner }}</h5>
				  <p class="card-text">{{ selectedMessage.description }}</p>
				</div>
			  </div>

				<table class="table table-sm table-fixed mx-4 mt-4">
					<thead>
					<tr>
						<th scope="col">Depth</th>
						<th scope="col">Schema Element</th>
						<th scope="col">Restrictions & Notes</th>
						<th scope="col">Example Value</th>
					</tr>
					</thead>
					<tbody>
						
					<tr *ngFor="let node of nodes">
							<td >{{ node.depth }} </td>
							<td [style.padding-left.px]="node.depth * 20">{{ node.startTag }}</td>
							
							<td>
								<div class="row" *ngFor="let restriction of selectedRestrictionMap.get(node.element.outerHTML)">
									<div class="col-12">{{ restriction.rule }} </div>
								</div>
								<div class="row" *ngIf="showTextBox.get(node.element.outerHTML)">
									<div class="col-12">
								  <input type="text" [(ngModel)]="newRestriction[node.element.outerHTML]">
								  <button type="button" class="btn btn-primary" (click)="saveRestriction(node)">Save</button>
								</div>
								</div>
								<div class="row">
									<div class="col-2"><button type="button" class="btn btn-sm btn-outline-primary btn-float-left" (click)="addNewRestriction(node)">+</button></div>
									<div class="col-5"></div>
									<div class="col-5"></div>
								</div>
							</td>
								<td></td>
						</tr> 
					</tbody>
				</table>
				<button type="button" class="btn btn-info mb-5 mt-3 mx-4">Download Message with Example values</button>
		</div>
	</div>
	</div>





    </div>





<router-outlet></router-outlet>
