<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Documented Messages</p>
              <p class="card-title">1502
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Message Updates (7d)</p>
              <p class="card-title">230
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Top Contributor</p>
              <p class="card-title">An Noniem
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <section>
              <h2>About the Central Contract Portal</h2>
              <p>The Central Contract Portal (CCP) is a unified platform designed to streamline message management and inter-team communication across our organization. CMP serves as a single source of truth for all message-related information, making your tasks simpler and more efficient.</p>
          </section>
          <section>
              <h2>What You Can Do</h2>
              <ul>
                  <li>
                      <strong>Search &amp; Browse:</strong> Quickly find messages, view their schemas, related applications, and other details.
                  </li>
                  <li>
                      <strong>Register New Messages:</strong> Easily add new messages and their schemas to the repository.
                  </li>
                  <li>
                      <strong>Manage Message &amp; Application Combinations:</strong> Set unique constraints for specific message and application combinations, defining how messages should be tailored to meet specific application needs.
                  </li>
                  <li>
                      <strong>Ownership Identification:</strong> Have clear visibility of message ownership and decision-making authority.
                  </li>
                  <li>
                      <strong>Edit &amp; Manage:</strong> Keep your message definitions and constraints up-to-date with an easy-to-use interface.
                  </li>
              </ul>
          </section>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>