<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">An Noniem</h5>
          </a>
        </div>
        <p class="description text-center">
          This is my function
          <br> This is my department
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>8
                <br>
                <small>Message Updates (7d)</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>109
                <br>
                <small>Message Page Views</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>23
                <br>
                <small>Example message Downloads</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Notifications</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
          
              <div class="col-md-7 col-7">
                com.eoc.stpcom.005.01
                <br />
                <span class="text-muted">
                  <small>Updated Property</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              
              <div class="col-md-7 col-7">
                com.eoc.equity.100.01
                <br />
                <span class="text-success">
                  <small>Added new Restriction</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
           
              <div class="col-ms-7 col-7">
                com.eoc.derv.200.06
                <br />
                <span class="text-danger">
                  <small>Restriction Removed</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="col-md-8">
      <div class="row">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Owned Messages</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Message ID
                </th>
                <th>
                  Message Domain
                </th>
                <th>
                  Application
                </th>
                <th>
                  Last Edited
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    com.eoc.stpcom.005.03
                  </td>
                  <td>
                    ASR MOD (Asset services modernization)
                  </td>
                  <td>
                    BSI
                  </td>
                  <td class="text-right">
                    2023/07/01 10:22:32
                  </td>
                </tr>
                <tr>
                  <td>
                    com.eoc.derv.200.06
                  </td>
                  <td>
                    DRV (Derivative Reporting)
                  </td>
                  <td>
                    GRP
                  </td>
                  <td class="text-right">
                    2023/07/01 10:22:32
                  </td>
                </tr>
                <tr>
                  <td>
                    com.eoc.muni.400.02
                  </td>
                  <td>
                    MUN (Municipal Bonds)
                  </td>
                  <td>
                    MBP
                  </td>
                  <td class="text-right">
                    2023/01/01 11:00:29
                  </td>
                </tr>
                <tr>
                  <td>
                    com.eoc.muni.400.03
                  </td>
                  <td>
                    MUN (Municipal Bonds)
                  </td>
                  <td>
                    MBP
                  </td>
                  <td class="text-right">
                    2022/05/04 02:32:57
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Subscribed Messages</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Message ID
                </th>
                <th>
                  Message Domain
                </th>
                <th>
                  Application
                </th>
                <th>
                  Last Edited
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    com.eoc.stpcom.005.03
                  </td>
                  <td>
                    ASR MOD (Asset services modernization)
                  </td>
                  <td>
                    BSI
                  </td>
                  <td class="text-right">
                    2023/07/01 10:22:32
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
