<div class="row" *ngIf="messages$ != undefined">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <form class="mx-4 pt-2 pb-2">

            <div class="mb-4 mt-4 row">
              <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
              <div class="col-xs-3 col-sm-auto">
                <input
                  id="table-complete-search"
                  type="text"
                  class="form-control"
                  name="searchTerm"
                  [(ngModel)]="service.searchTerm"
                />
              </div>
              <div class="col-xs-3 col-sm-auto">
                <select class="form-select" aria-label="Default select example">
                  <option selected>All Domains</option>
                  <option *ngFor="let domain of getUnqiqueMessageDomains() | async" [value]="domain">{{ domain }}</option>
                  </select>
              </div>
    
              <div class="col-xs-3 col-sm-auto">
                <select class="form-select" aria-label="Default select example">
                  <option selected>All Owners</option>
                  <option *ngFor="let owner of getUnqiqueMessageOwners() | async" [value]="owner">{{ owner }}</option>
                  </select>
              </div>
              <div class="col-xs-3 col-sm-auto">
                <select class="form-select" aria-label="Default select example">
                  <option selected>All Applications</option>
                  <option *ngFor="let application of getUnqiqueMessageApplications() | async" [value]="application">{{ application }}</option>
                  </select>
              </div>
    
              <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
    
            </div>
          
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Message ID</th>
                  <th scope="col" sortable="domain" (sort)="onSort($event)">Message Domain</th>
                  <th scope="col" sortable="domainOwner" (sort)="onSort($event)">Domain Owner</th>
                  <th scope="col" sortable="applicaton" (sort)="onSort($event)">Application</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let message of messages$ | async" (click)="onRowClicked(message)">
                  <th scope="row">{{ message.id }}</th>
                  <td>
                    <ngb-highlight [result]="message.domain" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td><ngb-highlight [result]="message.domainOwner" [term]="service.searchTerm"></ngb-highlight></td>
                  <td><ngb-highlight [result]="message.application" [term]="service.searchTerm"></ngb-highlight></td>
                </tr>
              </tbody>
            </table>
          
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
              </ngb-pagination>
          
              <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="messages$ != undefined && selectedMessage">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="col-lg-12">
            <div class="card">
              <div class="row mx-3">
                <div class="col-lg-8">
                  <label class="form-label">Message ID</label>
                  <h5>{{ selectedMessage.id }}</h5>
                </div>
                <div class="col-lg-2">
                  <button type="button" class="btn btn-primary" (click)="saveRestriction(node)">Save</button>
                </div>
              </div>
              <div class="row mx-3">
                <div class="col-lg-4">
                  <label class="form-label">Message Domain</label>
                  <p>{{ selectedMessage.domain }}</p>
                </div>
                <div class="col-lg-2">
                  <label class="form-label">Message Owner</label>
                  <p>{{ selectedMessage.domainOwner }}</p>
                </div>
                <div class="col-lg-2">
                  <label class="form-label">Message Application FROM</label>
                  <p>{{ selectedMessage.application }}</p>
                </div>
                <div class="col-lg-2">
                  <label class="form-label">Message Application TO</label>
                  <p>{{ selectedMessage.application }}</p>
                </div>
              </div>
              <div class="row mx-3">
                <label class="form-label">Descriptoin</label>
                <p>{{ selectedMessage.description }}</p>
            </div>
          </div>
              <table class="table table-sm table-fixed mx-4 mt-4">
                <thead>
                <tr>
                  <th scope="col">Depth</th>
                  <th scope="col">Schema Element</th>
                  <th scope="col">Restrictions & Notes</th>
                  <th scope="col">Example Value</th>
                </tr>
                </thead>
                <tbody>
                  
                <tr *ngFor="let node of nodes">
                    <td >{{ node.depth }} </td>
                    <td [style.padding-left.px]="node.depth * 20">{{ node.startTag }}</td>
                    
                    <td>
                      <div class="row">
                        <div class="col-2"><button type="button" class="btn btn-sm btn-outline-primary btn-float-left" (click)="addNewRestriction(node)">Add</button></div>
                        <div class="col-5"></div>
                        <div class="col-5"></div>
                      </div>
                      <div class="row" *ngFor="let restriction of selectedRestrictionMap.get(node.element.outerHTML)">
                        <div class="col-12">{{ restriction.rule }} </div>
                      </div>
                      <div class="row" *ngIf="showTextBox.get(node.element.outerHTML)">
                        <div class="col-12">
                        <input type="text" [(ngModel)]="newRestriction[node.element.outerHTML]">
                        <button type="button" class="btn btn-primary" (click)="saveRestriction(node)">Save</button>
                      </div>
                      </div>

                    </td>
                      <td>
                      <div class="row">
                        <div class="col-2"><button type="button" class="btn btn-sm btn-outline-primary btn-float-left" (click)="addNewRestriction(node)">Add</button></div>
                        <div class="col-5"></div>
                        <div class="col-5"></div>
                      </div>
                      <div class="row" *ngIf="showTextBox.get(node.element.outerHTML)">
                        <div class="col-12">
                        <input type="text" [(ngModel)]="newRestriction[node.element.outerHTML]">
                        <button type="button" class="btn btn-primary" (click)="saveRestriction(node)">Save</button>
                      </div>
                      </div></td>
                  </tr> 
                </tbody>
              </table>
              <button type="button" class="btn btn-info mb-5 mt-3 mx-4">Download Message with Example values</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
